
/* variables*/
$padding: 15px;
$border-rad: 15px;
$primary: #9356dc;
$secondary: #dd79da;
$tertiaire: #99e2d0;

@mixin display-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@mixin li-fonct {
    background: $primary;
    height: 1.6rem;
    width: 1.6rem;
    border-radius: 100px;
    display: block;
    text-align: center;
    align-items: center;
    color: #fff;
}
@keyframes clignoter {
    0% {
         opacity:1;
    }
    40%{
        opacity:0; 
    }
    100%{ 
        opacity:1; 
    }
  }
@keyframes circle{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/*animation*/
@keyframes loader-animation {
    0% {
        opacity: 0;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
.loader {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(127, 129, 129, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    animation: loader-animation 3s forwards;
    .animation {
        display: inline-block;
        border-radius: 100px;
        border: 30px solid;
        text-align: center;
        color: $primary;
    }
    .animation1 {
        display: inline-block;
        border-radius: 100px;
        border: 30px solid;
        text-align: center;
        color: $secondary;
        animation:circle 2s forwards;

    }
    .animation2 {
        display: inline-block;
        border-radius: 100px;
        border: 30px solid;
        text-align: center;
        color: $tertiaire;
        animation:circle 3s forwards;
    }
}

html,
body {
    margin: 0;
    padding: 0;
   
}

body * {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    cursor: pointer;
    h1,
    h2 {
        font-family: Shrikhand, sans-serif;
    }
}

a:link {
    text-decoration: none;
    color: black;
}
.fa-heart:active {
    background-image: linear-gradient(0deg, $primary, $secondary);
}

/*partie header */
.titre {
    text-align: center;
}
.search {
    input {
        width: 100%;
        text-align: center;
        border: none;
        padding: $padding;
        background-color: #f3f3f3;
    }
}
.slogan {
    width: 80%;
    margin: auto;
    text-align: center;
    .slogan h3 {
        font-weight: 700;
        font-size: 1.6em;
        @include display-center();
        margin: 0;
        padding: 0;
    }
    p {
        @include display-center();
    }
}

.explore {
    @include display-center();
    padding: $padding;
    width: 80%;
    border-radius: $border-rad + 10px;
    color: white;
    cursor: pointer;
    font-size: 1.1em;
    background-image: linear-gradient(0deg, $primary, $secondary);
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
    transition-duration: 0.3s;
}

/* partie Fonctionnement*/
.operation h3 {
    padding: 10px;
}
.op-card {
    width: 80%;
    margin: auto;
    display: flex;
    border-radius: 15px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.5);
    margin-bottom: 15px;
    position: relative;

    i {
        display: inline;
    }
}
.op-card:active {
    background-color: lighten($color: $secondary, $amount: 10%);
    .grey {
        color: $primary;
    }
}
.op-number {
    height: 25px;
    width: 25px;
    margin-left: -12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: $primary;
    position: absolute;
    top: 5px;
    left: -5px;
}

.grey {
    color: gray;
    padding-left: 10px;
    padding-right: 10px;
}

/* partie restaurant */
.restaurant {
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    h2 {
        padding: 5px 10px;
        font-family: Roboto, sans-serif;
    }
}
.rest-card {
    a {
        color: black;
        width: 100%;
    }
    display: flex;
    width: 90%;
    margin: auto;
    position:relative;
    border-radius: $border-rad;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    margin-bottom: 15px;
    img {
        object-fit: cover ;
        height: 200px;
        border-radius: $border-rad $border-rad 0 0;
        width: 100%;
    }
   
}
.new{
    background-color: #99e2d0;
    color: #1b6150;
    padding: .5rem;
    border-radius: .125rem;
    text-align: center;
    margin: 0;
    height: fit-content;
    position:absolute;
    top: 5%;
    right: 5%;
    /* clignotement*/
   animation-duration: 1s;
   animation-name: clignoter;
   animation-iteration-count: infinite;
   transition: none;

}
.rest-text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    height: fit-content;
    p {
        padding: 5px 0;
        margin: 0;
    }
    .marge {
        margin: 0;
    }
}
.rest-title {
    width: 70%;
}
.icone {
    position: relative;
    width: 10%;
    &:hover{
        .color-hover{
            opacity: 1;
        }
        .display-hover{
            opacity: 0;
        }
    }
}
.color-hover {
    position: absolute;
    left: 0;
    color: $primary;
    opacity: 0;
}
.display-hover{
    opacity: 1;
}


/* Footer*/

.footer {
    background-color: #353535;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.footer-container{
    width: 80%;
    padding: 10px;
    margin: 0;
}
.footer-titre {
    padding: 10px;
    font-size: 1em;
}
.footer-logo {
    display: flex;
    p {
        width: 80%;
    }
    i {
        display: inline;
        width: 10%;
        margin: 0;
        padding-right: 5px;
    }
}
.footer-mention{
    p{
        margin: 0;
        padding: 5px;
    }
    a{
        text-decoration: none;
        color: white;
    }
}





/* partie responsive*/

@media screen and (min-width: 600px) and (max-width:1024px){
.slogan{
    text-align: center;
}
.operation{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.restaurant{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
}

@media screen and (min-width:1024px){

    .slogan{
        text-align: center;
    }
    .explore{
        width: fit-content;
    }
    /*partie fonctionnement*/
    .operation{
        width: 60%;
        margin: auto;
        .op-card{
            width: 30%;
            position: relative;
            font-size: 0.8em;
            .op-number{
                position: absolute;
                top: 6px;
                left: -5px;
            }
        }
    }
    .op-cards{
        display: flex;
        margin: auto;
        flex-wrap: wrap;
    }
    .op-card:hover {
        background-color: lighten($color: $secondary, $amount: 10%);
        .grey {
            color: $primary;
        }
    }
    
    /* partie restaurant*/
    .restaurant{
        width: 60%;
        margin: auto;
        margin-top: 20px;
        h2{
            height: fit-content;
        }
    }

    .rest-card {
        display: flex;
        width: 45%;
        margin: auto;
        position:relative;
        border-radius: $border-rad;
        box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.5);
        background-color: #fff;
        margin-bottom: 15px;
        img {
            object-fit: cover ;
            border-radius: $border-rad $border-rad 0 0;
            width: 100%;
        }
        a {
            color: black;
        }
    }
    .rest-cards{
        display: flex;
        flex-wrap: wrap;
    }
    .footer-titre{
        position: relative;
        left: 60%;
    }
    .footer-container{
        position: relative;
    }
.footer-mention{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    left: 15%;
    a{
       position: relative;
       bottom: 5px;
    }
    p{
        width: fit-content;
        position: relative;
        bottom: 10px;
    }
}
.footer-logo{
    p{
        width: fit-content;
        position: relative;
        bottom: 10px;
    }
    
}
}
    










