/* variables*/
/*animation*/
@-webkit-keyframes loader-animation {
  0% {
    opacity: 1;
    visibility: visible;
    color: #9356dc;
  }
  90% {
    opacity: 1;
    color: #dd79da;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes loader-animation {
  0% {
    opacity: 1;
    visibility: visible;
    color: #9356dc;
  }
  90% {
    opacity: 1;
    color: #dd79da;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.loader {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(127, 129, 129, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-animation: loader-animation 3s forwards;
          animation: loader-animation 3s forwards;
}

.loader .animation {
  display: inline-block;
  border-radius: 100px;
  border: 30px solid;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #9356dc;
}

.loader .animation1 {
  display: inline-block;
  border-radius: 100px;
  border: 30px solid;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #dd79da;
}

.loader .animation2 {
  display: inline-block;
  border-radius: 100px;
  border: 30px solid;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #99e2d0;
}

html,
body {
  margin: 0;
  padding: 0;
}

body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Roboto, sans-serif;
  cursor: pointer;
  cursor: pointer;
}

body * h1,
body * h2 {
  font-family: Shrikhand, sans-serif;
}

a:link {
  text-decoration: none;
  color: black;
}

.fa-heart:active {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9356dc), to(#dd79da));
  background-image: linear-gradient(0deg, #9356dc, #dd79da);
}

/*partie header */
.titre {
  text-align: center;
}

.search input {
  width: 100%;
  text-align: center;
  border: none;
  padding: 15px;
  background-color: #f3f3f3;
}

.slogan {
  width: 80%;
  margin: auto;
}

.slogan .slogan h3 {
  font-weight: 700;
  font-size: 1.6em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin: 0;
  padding: 0;
}

.slogan p {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.explore {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 15px;
  width: 80%;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 1.1em;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9356dc), to(#dd79da));
  background-image: linear-gradient(0deg, #9356dc, #dd79da);
  -webkit-box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

/* partie Fonctionnement*/
.operation h3 {
  padding: 10px;
}

.op-card {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
}

.op-card i {
  display: inline;
}

.op-card:active {
  background-color: #e7a2e5;
}

.op-card:active .grey {
  color: #9356dc;
}

.op-number {
  height: 25px;
  width: 25px;
  margin-left: -12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: #9356dc;
}

.grey {
  color: gray;
}

/* partie restaurant */
.restaurant {
  background-color: #f3f3f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.restaurant h2 {
  padding: 5px 10px;
  font-family: Roboto, sans-serif;
}

.rest-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: auto;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  margin-bottom: 15px;
}

.rest-card img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
  border-radius: 15px 15px 0 0;
  width: 100%;
}

.rest-card a {
  color: black;
}

.rest-text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px;
}

.rest-text p {
  padding: 5px 0;
  margin: 0;
}

.rest-text .marge {
  margin: 0;
}

.rest-title {
  width: 70%;
}

.icone {
  width: 10%;
}

.color-hover {
  display: none;
  position: relative;
  top: -20px;
  color: #9356dc;
}

.color-hover:hover {
  display: initial;
}

/* Footer*/
.footer {
  background-color: #353535;
  width: 100%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-titre {
  padding: 10px;
}

.footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-logo p {
  width: 80%;
}

.footer-logo i {
  display: inline;
  width: 10%;
}

.footer-mention {
  padding: 0;
  margin: 0;
}
/*# sourceMappingURL=index.css.map */